/* Global Styles */
@font-face {
  font-family: 'NF Ultra';
  src: url('{{ "NFUltra-Regular.otf" | asset_url }}') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Helvetica Neue LT Com';
  src: url('{{ "Helvetica Neue LT Com 77 Bold Condensed.ttf" | asset_url }}') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'MotoyaExCedar';
  src: url('{{ "MotoyaExCedar W55 W7 KP.ttf" | asset_url }}') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Sequel Sans';
  src: url('{{ "sequel-sans-black-display.ttf" | asset_url }}') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Sequel Sans Regular';
  src: url('{{ "Sequel Sans Book Body.ttf" | asset_url }}') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:focus,
select:-webkit-autofill:hover,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #fafbfc inset !important;
  box-shadow: 0 0 0 1000px #fafbfc inset !important;
  -webkit-text-fill-color: #222 !important;
  caret-color: #222 !important;
  transition: background-color 9999s ease-in-out 0s;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  color: white;
  padding-top: 40px;
}

body {
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  color: white;
  padding-top: 40px;
}

.nf-ultra-text {
  font-family: 'NF Ultra', sans-serif;
}

.helvetica-neue-text {
  font-family: 'Helvetica Neue LT Com', sans-serif;
  font-weight: bold;
}

/* Hide scrollbars */
::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html, body {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Layout */
.main-content {
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  min-width: 320px;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

.main-content main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

