<div class="intro-blue-screen" id="introAnimation">
  <div class="intro-nf-ultra-text">
    <span class="intro-animated-char" data-char-index="0">R</span>
    <span class="intro-animated-char" data-char-index="1">A</span>
    <span class="intro-animated-char" data-char-index="2">D</span>
    <span class="intro-animated-char" data-char-index="3">P</span>
    <span class="intro-animated-char" data-char-index="4">E</span>
    <span class="intro-animated-char" data-char-index="5">O</span>
    <span class="intro-animated-char" data-char-index="6">P</span>
    <span class="intro-animated-char" data-char-index="7">L</span>
    <span class="intro-animated-char" data-char-index="8">E</span>
  </div>
</div>

<script>
  (function() {
    const DELAY_BEFORE_TEXT_APPEAR = 800;
    const TYPING_SPEED = 30;
    const DELAY_AFTER_TEXT_APPEAR = 1000;
    const BLUE_SCREEN_DURATION = 900;
    
    const fullText = 'RADPEOPLE';
    const blueScreen = document.getElementById('introAnimation');
    const chars = blueScreen.querySelectorAll('.intro-animated-char');
    
    if (!blueScreen) return;
    
    setTimeout(function() {
      chars.forEach(function(char, index) {
        setTimeout(function() {
          char.classList.add('visible');
        }, index * TYPING_SPEED);
      });
      
      const totalTextDuration = TYPING_SPEED * fullText.length + DELAY_AFTER_TEXT_APPEAR;
      setTimeout(function() {
        blueScreen.classList.add('hidden');
        setTimeout(function() {
          blueScreen.style.display = 'none';
        }, BLUE_SCREEN_DURATION);
      }, totalTextDuration);
    }, DELAY_BEFORE_TEXT_APPEAR);
  })();
</script>

