{% comment %}
  About Page Component
  Note: This will need to be populated with Shopify metafields or page content
{% endcomment %}

<div class="about-container">
  <div class="about-info-box">
    {% if page.content != blank %}
      <div class="about-content">
        {{ page.content }}
      </div>
    {% else %}
      <div class="about-content">
        <p>About content goes here. You can add this via the Shopify page editor or use metafields.</p>
      </div>
    {% endif %}
  </div>
  
  {% comment %} Talent/Team section would go here - can use metafields {% endcomment %}
  <div class="about-team-section">
    <p style="font-family: 'Helvetica Neue LT Com', sans-serif; font-size: 1.3rem; margin-top: 30vh; margin-left: 6vh;">
      TEAM
    </p>
    {% comment %} Team members can be added via metafields or a custom section {% endcomment %}
  </div>
</div>

<style>
  .about-container {
    display: flex;
    align-items: flex-start;
    margin-left: -2rem;
    margin-top: -1rem;
    min-height: calc(100vh - 40px);
  }

  .about-info-box {
    background: white;
    color: black;
    padding: 2rem;
    margin-left: 0.5rem;
    width: 52%;
    font-family: 'Helvetica Neue LT Com', sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
    text-transform: uppercase;
  }

  .about-content {
    font-family: 'Helvetica Neue LT Com', sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
    text-transform: uppercase;
  }

  .about-team-section {
    font-family: 'Helvetica Neue LT Com', sans-serif;
    color: black;
    margin-top: 30vh;
    margin-left: 6vh;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    gap: 0.1rem;
    line-height: 1.05;
    text-transform: uppercase;
  }

  @media (max-width: 840px) {
    .about-container {
      flex-direction: column;
      margin-left: 0;
    }

    .about-info-box {
      width: 100%;
      margin-left: 0;
    }

    .about-team-section {
      margin-top: 2rem;
      margin-left: 0;
    }
  }
</style>

